# 👉 Виртуальное окружение
venv/
.env/

# 👉 Файлы конфигурации среды разработки
.vscode/

# 👉 Кэш и временные файлы Python
__pycache__/
*.py[cod]
*.log

# 👉 Кэш pip
pip-log.txt
pip-delete-this-directory.txt

# 👉 Файлы/папки OS
.DS_Store
Thumbs.db

# 👉 Файлы и логи тестов
*.coverage
coverage.xml
*.pytest_cache/
tests/__pycache__/

# 👉 Бинарники
*.so

# 👉 Файлы с переменными окружения (безопасность!)
.env
*.env
.env.prod

payment_config.py
subscriptions.db
